<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hwhl.yuanyu.mapper.UserMapper" >

    <insert id="addUser" parameterType="com.hwhl.yuanyu.entity.User" useGeneratedKeys="true" keyProperty="id">
        insert into yuanyu_user (nickname,password,phone,age,sex) values (#{nickname},#{password},#{phone},#{age},#{sex});
    </insert>

</mapper>